body ,html{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}
p , h1{
    padding: 0px;
    margin: 0px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-image: linear-gradient(to left , #A63EC5, #FFD93D, #FD5D5D);
}
.title h1 {
    padding-left: 20px;
}
.title p{
    font-size: 30px;
    padding-left: 12px;
}

.container{
    background-color: #A63EC5;
    width: 130px;
    height: 100%;
    margin-left: 50px;
    padding: 10px;
    box-sizing: border-box;
}
.section-card{
    background-color: #000000BB;
    color: #fff;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 0px 9px 9px 9px;
    border: solid 4px #ebd659 ;
    cursor: pointer;
}
.section-card:hover{
    border: solid 4px #ebd659BB ;
}
.section-card p{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* img{
    height: 30px;
} */

/* ==================== ICONE DO GLITCH ============== */
.icone-glitch{
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
}